---
import { string } from 'astro/zod'

type active = "active"
interface Props {
    isActive?:active
    imgsrc:string
    keyImg:number
}
const { isActive, imgsrc, keyImg } = Astro.props
---
{
    isActive?(
        <div class="hidden duration-700 ease-in-out z-[1]" data-carousel-item={isActive}>
        <img src={imgsrc} class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt={`Imagen ${keyImg}`}>
        </div>
    ):(
        <div class="hidden duration-700 ease-in-out z-[5]" data-carousel-item>
        <img src={imgsrc} class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt={`Imagen ${keyImg}`}>
        </div>
    )
} 
