---
import AzureRepos from "./icons/AzureRepos.astro";

import GithubIcon from "./icons/GitHub.astro";
import ExternalLinkIcon from "./icons/External_link.astro";

import DialogHover from "./DialogHover.astro";
import SVGLink from "./SVGLink.astro";
import ImageCarousel from "./ImageCarousel/ImageCarousel.astro";

import { type ProjectsType } from "./projectTypes";

// type Tag = {
//     name: string,
//     class: string,
//     icon: any
// }

interface Props {
    project:ProjectsType
}
const { images, title, description, technologyTags, link, githubFrontend, githubBackend, azureReposBackend, azureReposFrontend } = Astro.props.project
---
{
    <article>
            <header class="flex justify-between mb-2">
                <h3 class="text-2xl font-medium text-yellow-200/90 ">{title}</h3>
                <div class="flex gap-x-2 items-center text-yellow-200/60">
                   {
                        githubFrontend&&(<SVGLink
                        href={githubFrontend}>
                            <GithubIcon class="size-5 hover:text-yellow-200/90"></GithubIcon>
                            <DialogHover group_hover="group-hover:block"><span>Repositorio frontend</span> </DialogHover>
                        </SVGLink>)
                    }
                    {
                        githubBackend&&(<SVGLink
                        href={githubBackend}>
                            <GithubIcon class="size-5 hover:text-yellow-200/90"></GithubIcon>
                            <DialogHover group_hover="group-hover:block"><span>Repositorio backend</span> </DialogHover>
                        </SVGLink>)
                    }
                    {
                        azureReposFrontend&&(<SVGLink
                        href={azureReposFrontend}>
                            <AzureRepos class="size-5 hover:text-yellow-200/90"></AzureRepos>
                            <DialogHover group_hover="group-hover:block"><span>Repositorio frontend</span> </DialogHover>
                        </SVGLink>)
                    }
                    {
                        azureReposBackend&&(<SVGLink
                        href={azureReposBackend}>
                            <AzureRepos class="size-5 hover:text-yellow-200/90"></AzureRepos>
                            <DialogHover group_hover="group-hover:block"><span>Repositorio backend</span> </DialogHover>
                        </SVGLink>)
                    }
                    {
                        link&&(<SVGLink
                        href={link}>
                            <ExternalLinkIcon class="size-5 hover:text-yellow-200/90"></ExternalLinkIcon>
                            <DialogHover group_hover="group-hover:block"><span>Ir a la página</span> </DialogHover>
                        </SVGLink>)
                   } 
                </div>
            </header>
            <p class="text-lg mb-4 text-pretty font-extralight text-gray-200/90">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-6 flex-wrap gap-y-3">
                {technologyTags.map(
                    tag =>(
                        <li>
                            <span class={`flex gap-x-2 rounded-full font-extralight text-sm items-center ${tag.class} py-2 px-4`}>
                                <tag.icon class="size-6"/>
                                {tag.name}
                            </span>
                        </li>
                    )
                )}
            </ul>
            <ImageCarousel images={images} activeImage={1}></ImageCarousel>
        </article>
}